/* Headings */
.article-page > h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.article-page > h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.article-page > h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.article-page > h4 {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Paragraphs */
.article-page > * > p {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.8;
    color: #333; /* Couleur neutre pour le texte */
}

/* Links */
.article-page > * > a {
    color: #14532D; /* Couleur principale */
    text-decoration: none;
}

.article-page > * > a:hover {
    color: #4ADE80; /* Couleur secondaire au survol */
    text-decoration: underline;
}

/* Images */
.article-page > * > img {
    max-width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid #14532D; /* Bordure avec couleur principale */
}

/* Lists */
.article-page > * > ul,
.article-page > * > ol {
    margin: 15px 0;
    padding-left: 20px;
}

.article-page > * > * > li {
    margin-bottom: 10px;
    color: #444; /* Couleur neutre pour les listes */
}

/* Image */
.article-page > img {
    max-width: 35%;
    height: auto;
    margin: 20px 0;
    border-radius: 20px;
}

/* General container */
.article-page > * {
    width: 100%;
    word-break: break-word; /* Permet de couper les mots uniquement si nécessaire */
    hyphens: auto;
}

/* Scroll margin for headings */
.article-page h1,
.article-page h2,
.article-page h3,
.article-page h4,
.article-page h5,
.article-page h6 {
    scroll-margin-top: 80px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
    margin-top: 60px;
}

#recommandations-brokers {
    scroll-margin-top: 130px;
}

html {
    scroll-behavior: smooth; /* Ajoute un effet de défilement fluide */
}

/* Responsive styles */
@media (max-width: 1024px) {
    .article-page > h1 {
        font-size: 2rem;
    }

    .article-page > h2 {
        font-size: 1.6rem;
    }

    .article-page > h3 {
        font-size: 1.4rem;
    }

    .article-page > h4 {
        font-size: 1.2rem;
    }

    .article-page > * > p {
        font-size: 0.95rem;
    }

    .article-page > * > img {
        max-width: 70%;
    }

    .article-page > img {
        max-width: 50%;
    }
    .article-page > * {
        width: 100%;
        word-break: break-word; /* Permet de couper les mots uniquement si nécessaire */
        hyphens: auto;
    }
    .article-page h1,
    .article-page h2,
    .article-page h3,
    .article-page h4,
    .article-page h5,
    .article-page h6 {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .article-page > h1 {
        font-size: 1.8rem;
    }

    .article-page > h2 {
        font-size: 1.4rem;
    }

    .article-page > h3 {
        font-size: 1.2rem;
    }

    .article-page > h4 {
        font-size: 1rem;
    }

    .article-page > * > p {
        font-size: 0.9rem;
    }

    .article-page > * > img {
        max-width: 90%;
    }

    .article-page > img {
        max-width: 70%;
    }
    .article-page > * {
        width: 100%;
        word-break: break-word; /* Permet de couper les mots uniquement si nécessaire */
        hyphens: auto;
    }
    .article-page h1,
    .article-page h2,
    .article-page h3,
    .article-page h4,
    .article-page h5,
    .article-page h6 {
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .article-page > h1 {
        font-size: 1.5rem;
    }

    .article-page > h2 {
        font-size: 1.2rem;
    }

    .article-page > h3 {
        font-size: 1rem;
    }

    .article-page > h4 {
        font-size: 0.9rem;
    }

    .article-page > * > p {
        font-size: 0.85rem;
    }

    .article-page > * > img {
        max-width: 100%;
    }

    .article-page > img {
        max-width: 90%;
    }
    .article-page > * {
        width: 100%;
        word-break: break-word; /* Permet de couper les mots uniquement si nécessaire */
        hyphens: auto;
    }
    .article-page h1,
    .article-page h2,
    .article-page h3,
    .article-page h4,
    .article-page h5,
    .article-page h6 {
        margin-top: 30px;
    }
}